body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Light grey background */
  color: #2e3234; /* Dark text for readability */
  text-align: center;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white; /* White background for navbar */
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays on top */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for better visibility */
}

.nav-left, .nav-right {
  display: flex;
}

.nav-left a, .nav-right a {
  color: #2e3234; /* Dark color for navbar text */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-left a:hover{
  background-color: #ddd;
  color: #2e3234;
}

.nav-center {
  display: flex;
  align-items: center;
}

.avatar-container {
  display: flex;
  align-items: center;
  position: relative;
}

.avatar {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #6fc1ca;
  animation: blinkBorder 1s infinite;
}

@keyframes blinkBorder {
  0% { border-color: #6fc1ca; }
  50% { border-color: transparent; }
  100% { border-color: #6fc1ca; }
}

.no-blink {
  animation: none;
}

.icon-container {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.01);
  border-radius: 10px;
  padding: 10px;
}

.icon-container.left {
  left: -100px; /* Adjust the position to the left of the avatar */
}

.icon-container.right {
  right: -100px; /* Adjust the position to the right of the avatar */
}

.icon-container a {
  color: #6fc1ca;
  margin: 0 10px;
  text-decoration: none;
}

/* Section styles */
.section {
  padding: 30px 20px 20px; /* Add padding-top to accommodate the navbar */
}

/* Section styles */
.section2 {
  padding: 0px 20px 20px; /* Ajuste de padding para alinhar com a barra de navegação */
  text-align: center; /* Centraliza o conteúdo na horizontal */
}

/* Divider styles */
.divider {
  border: none; /* Remove default border */
  height: 1px; /* Height of the divider */
  background-color: #ddd; /* Color of the divider */
  margin: 40px auto; /* Margin for spacing */
  width: 80%; /* Width of the divider */
}

/* Card container styles */
.card-container {
  display: flex;
  justify-content: center; /* Centraliza o container das cards horizontalmente */
  gap: 20px;
  padding: 20px;
  margin: 0 auto; /* Centraliza o container horizontalmente */
  max-width: 1200px; /* Limita a largura máxima do container */
}

.card {
  background-color: white;
  color: #2e3234;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  text-align: center;
  flex: 1 1 calc(50% - 40px); /* Ajuste para duas cards em uma linha */
  max-width: calc(50% - 40px); /* Limita a largura máxima para manter o layout responsivo */
}

.card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 15px;
}

.card h3 {
  margin: 10px 0;
  color: #2e3234;
}

.card:hover {
  transform: translateY(-10px);
}

.button-container {
    text-align: center; /* Centraliza o botão horizontalmente */
    margin-top: 20px; /* Espaçamento acima do botão */
}

.button {
    background-color: #6fc1ca; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove a borda do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor muda para ponteiro ao passar por cima */
    border-radius: 5px; /* Borda arredondada */
    transition: background-color 0.3s; /* Transição suave de cor de fundo */
}

.button:hover {
    background-color: #4c9aa3; /* Cor de fundo alterada ao passar o mouse */
}
