.btn {
  display: block;
  margin: 0 auto;
  text-align: center;
}

body{
  background-color: rgb(15, 15, 15);
  margin-top: 20px;
}

p{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 10px;
  color: white;
}

h1, p1 {
  display: inline-block;
  vertical-align: top;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

#leftbox {
  float:left;
  width:35%;
  height:100px;
  margin: right 100px;
  text-align: left;
  text-justify: inter-word;
}

#rightbox{
  float:right;
  width:35%;
  height:100px;
  margin: left 100px;
  text-align: right;
  text-justify: inter-word;
}

.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}
  
.icon-container {
  display: none;
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px;
}

.icon-container a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.project-container {
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
}

.project-container:hover {
  background-color: #6e6b6b;
}

.project-container h2 a {
  text-decoration: none;
  color: inherit;
}

.project-container a:visited h2 {
  color: inherit;
  text-decoration: none;
}

h2 {
  text-decoration: none;
  color: white;
}

h2.no-underline {
  text-decoration: none;
}



